<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
           font-size: 200%
        }
    </style>
</head>
<body>
    <header style="text-align:center;background-color:LightGray" >
        <h1><b>User Login</b></h1>
    </header>
    <div class="container" style="width:400px; margin-right:auto; margin-left:auto">
        <form method="post">
            <label><b>Username</b></label> <br>
            <input type="text" placeholder="Enter username" name="username" required> <br><br>

            <label><b>Your password must:</b></label> <br>
            <ul>
                <li><small>Contain at least 3 characters</small></li>
            </ul>
            <input type="password" placeholder="Enter password" name="password" required> <br><br>

            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>